{% extends "base.html" %}
{% load static %}

{% block body %}
{% include "navbar2.html" %}
<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>게시글 목록</h2>
            <ol>
                <li><a href="/">Home</a></li>
                <li><a href="/board">게시글 목록</a></li>
            </ol>
        </div>

    </div>
</section><!-- Breadcrumbs Section -->
<main id="main">
    <!-- ======= Portfolio Details Section ======= -->
    <section class="portfolio-details" style="padding : 0">
        <div class="container">
            <div class="portfolio-description" style="margin-bottom:30px; padding:0;">
                <div align="center">
                </div>
                {% if not rsDetail %}
                <h2>게시물이 없습니다.</h2>
                {% endif %}
                <form action="/board_update" id="formBoard">
                    {% for i in rsDetail %}
                    <input type="hidden" name="b_no" value="{{ i.b_no }}">
                    <table width="100%">
                        <tr style="height:45px;border:solid 1px #dddddd;">
                            <td width="20%" align="center">제목</td>
                            <td width="80%" align="left"><input type="input" name="b_title" value="{{ i.b_title }}"
                                                                placeholder="제목"></td>
                        </tr>
                        <tr style="height:45px;border:solid 1px #dddddd;">
                            <td width="20%" align="center">작성자</td>
                            <td width="80%" align="left"><input type="input" name="b_writer" value="{{ i.b_writer }}"
                                                                placeholder="작성자"></td>
                        </tr>
                        <tr style="height:45px;border:solid 1px #dddddd;">
                            <td width="20%" align="center">내용</td>
                            <td width="80%" align="left"><textarea name="b_note" style="width:100%;" rows="10">{{ i.b_note }}</textarea></td>
                        </tr>
                    </table>
                    <button onclick="javascript:document.getElementById('formBoard').submit()">저장</button>
                    {% endfor %}
                </form>

            </div>
        </div>
    </section><!-- End Portfolio Details Section -->
</main>
{% include "footer.html" %}
{% endblock %}
